<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Color Picker</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }

        #wrapper{
            margin: 10px auto;
            width: 900px;
        }
        
    </style>
</head>
<body>
    <div {{ color }}>
        <h1>Enter your color values below:</h1>
        <form action="/colors" method="post">
            <label for="red">Red: <input type="text" name="red"></label>
            <label for="green">Green: <input type="text" name="green"></label>
            <label for="blue">Blue: <input type="text" name="blue"></label>
            <input type="submit" value="Show my color!">
        </form>
        <p color="red">* All values must be between 1 and 255</p>
    </div>

</body>
</html>